PORT=3000
GATEWAY_TYPE=2c2p-paco
PACO_OFFICE_ID=AirAsiaRewards
PACO_API_KEY=a89ffc44f0dd412188251ddfa2bf8757
PACO_KID=7664a2ed0dee4879bdfca0e8ce1ac313
PACO_API_URL=https://core.demo-paco.2c2p.com/api/2.0/Payment/prePaymentUI
MODE=sandbox
PUBLIC_BASE_URL=http://localhost:3000
